
body {
    font-family: 'Permanent Marker', sans-serif;
    font-weight: 300;
    background-color: #376E6F;
    font-size: 25px;
    color:#D1E8E2;
  }

  h1{
    font-size: 100px;
    margin-left: 20px;
  }
  input{
    color:#376E6F;
  }
  p {
    font-family: "Lucida Console", "Courier New", monospace;
  }
  nav{
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
