
body {
    font-family: 'Permanent Marker', sans-serif;
    font-weight: 300;
    background-color: #376E6F;
    font-size: 25px;
    color:#D1E8E2;
  }

  h1{
    font-size: 100px;
    margin-left: 20px;
  }
  input{ /*search bar */
    color:#376E6F;
    margin: 0px
  }
  p {
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: 50px;
  }
  nav{
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 1%;
  }

  nav ul{height:200px; width:18%;}
  nav ul{overflow:hidden; overflow-y:scroll;} 

  
  form{ /*for search bar spacing*/
    margin-top: 100px;
    margin-right: 50px;
  }
  div { /*keeps title and search bar in same area*/
    display: flex;
    justify-content: space-between;
  }
  list-div { /*for putting list in rows  */
    display: inline;
  }
  button{
    color:#376E6F
  }
  
  #map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}