// Placeholder to allow overriding predefined variables smoothly.
$background-color: #E9C46A; // background color 
$text-color: #264653; // body text color 
$site-title-color:#264653; // title 
$border-color-01: #2A9D8F; // footer line
$border-color-03:  #2A9D8F; // top of the page line


$base-font-family: "Lucida Console", Courier, monospace; // fonts 
