// Placeholder to allow overriding predefined variables smoothly.

// colors
$background-color: #e9c56ab1; // background color 
$text-color: #264653; // body text color 
$site-title-color:#264653; // title 
$border-color-01: #2a9d90ae; // footer line
$border-color-03:  #2a9d90ae; // top of the page line
$link-base-color: white; // doesn't do what I think it does right now

// fonts
$base-font-family: "Lucida Console", Courier, monospace; // fonts 

//layout
// $spacing-unit: 100px; // space around objects 
